
@{
    ViewBag.Title = "Index";
}

<h2>Welcome to Patient Management System!</h2>
<br />
<br />
<br />
<p>@Html.ActionLink("Doctors List", "Index", "Doctor")</p>
<p>@Html.ActionLink("Sectors List", "Index", "Sector")</p>
<p>@Html.ActionLink("Patients List", "Index", "Patient")</p>

